@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .footer-h2 {
    @apply md:mb-4 lg:mb-7 text-xl xs:text-2xl sm:text-3xl font-bold text-yellow-400;
  }

  .footer-h3 {
    @apply text-base xs:text-lg sm:text-xl text-white;
  }

  .navbarLi {
    @apply relative text-xl xl:text-2xl py-4 text-white font-semibold hover:text-yellow-400 cursor-pointer transition duration-500;
  }

  .navbarUL {
    @apply absolute bottom-2 h-1 w-5 hidden bg-yellow-400 group-hover:block rounded-full transition duration-500;
  }

  .projectNavLi {
    @apply px-1 xs:px-2 sm:px-3 md:px-5 lg:px-7 py-2 text-xs xs:text-sm md:text-base text-slate-300 hover:text-slate-50 rounded-md;
  }

  .projectNavUl {
    @apply mt-2 sm:mt-3 h-1 w-full bg-slate-300 opacity-0 group-hover:opacity-100 group-hover:bg-slate-50 rounded-full transition duration-500;
  }

  .text-h2 {
    @apply text-xl md:text-3xl xl:text-4xl font-bold;
  }

  .text-h3 {
    @apply text-lg md:text-xl xl:text-2xl font-semibold;
  }

  .text-para {
    @apply text-base md:text-lg xl:text-xl font-medium leading-5 xs:leading-6 md:leading-7;
  }

  .btn {
    @apply px-2 xs:px-3 md:px-4 lg:px-5 xl:px-7 py-1 md:py-2 xl:py-3 text-sm xs:text-base md:text-xl text-black rounded-md font-medium hover:text-white hover:font-bold bg-yellow-400 hover:shadow-2xl;
  }

  .section-gap {
    @apply pb-7 xs:pb-9 sm:pb-14 md:pb-20;
  }

  /* For contact page */
  /* Define a class for the scrollable textarea */
  .scrollable-textarea {
    width: 100%;
    height: 100%;
    overflow: scroll;
    /* Make it scrollable */
    -ms-overflow-style: none;
    /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
  }

  /* Hide the scrollbar for Webkit-based browsers (Chrome, Safari) */
  .scrollable-textarea::-webkit-scrollbar {
    display: none;
  }

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}